# Ignore all files and directories
*
debug/*

# Include specific files
!main.c
!config.cfg
!README.md

## DO Include these directories and their contents

!drivers/*
!OutsiderCreations/*
!OGcreations/*
!READMEResources/*
